/node_modules/
/build/
/lib/
target
/code/
/_site/
/bin/
.gradle
*.sw?
.#*
*#
*~
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
.factorypath
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
*.jar
*.class
.DS_Store
.factorypath
dump.rdb/vbt.ebys.0/
